<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Automation/VM">
        <classes>
            <class name="Tests.CreateCachedERVisit">
                <methods>
                    <include name="userCanLoginSuccessfully"/>
                </methods>
            </class>
            <class name="Tests.AddService">

            </class>
        </classes>
    </test>
</suite>